.DS_Store
Thumbs.db
/build/
*/build/
.idea/
*.iml
*.ipr
*.iws
.gradle/
local.properties
*.log
.cxx/
.externalNativeBuild/
captures/
.cache/
outputs/

.gradle/
gradle-app.setting
!gradle-wrapper.jar
obj/
lint/intermediates/
lint/generated/
/release/
*.apk
*.ap_
*.jks
*.keystore
*.key
*.env
/local.properties
google-services.json
out/